*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 0vh;

    color: white;

    background-color: #111; /* fallback */
    background-image:
    linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2)),
    url("/img/shapes.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

main img#logo{
    margin-right: auto;
}

section#container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

section#content,
section#content-form{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    
}

header{
    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 5rem;
    text-transform: uppercase;
}

header p {
font-weight: 700;
text-transform: uppercase;
color: #C7C9CC;
/* 
background: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
}

div.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.questions img{
    margin-bottom: auto;
    margin-right: 0.5rem;
}

div.questions h3{
    color: #C58DE7;
}
