*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    color: white;

    background-color: #111; /* fallback */
    background-image:
    linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.2)),
    url("/img/shapes.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}

main img#logo{
    margin: 0 0 20px 80px;
    padding: 30px;
}

section#container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

section#content,
section#content-form{
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 50px;
    text-transform: uppercase;
}

header p {
font-weight: 700;
text-transform: uppercase;
color: #C7C9CC;
/* 
background: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */
}

div.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.questions img{
    margin-bottom: auto;
    margin-right: 0.5rem;
}

div.questions h3{
    color: #C58DE7;
}

section#content-form{
    display: flex;
    flex-direction: column;
}

div#title-form h2{
    text-transform: uppercase;
    font-weight: 700;
}

div#title-form p{  
    padding: 10px 0; 
    line-height: 22px;
    color: #C7C9CC;
}

section#content-form form{
    display: flex;
    margin: 40px auto;
}

section#content-form fieldset{
    border: none;
    margin: 0 10px;
    width: 100%;
    color: #C7C9CC;
    font-weight: 400;
}

section#content-form fieldset legend{
    padding: 10px 0;
}

section#content-form fieldset input{
    width: 100%;
    height: 70px;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: aliceblue;
    background-color: #222;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section#content-form button{
    width: 100%;
    height: 70px;
    font-size: x-large;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: #C7C9CC;
    cursor: pointer;
    background-color: #222;
}

#result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
    padding: 0px 50px;
    border-radius: 5px;
    text-transform: uppercase;
}

#result-container button{
    width: 150%;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: #C7C9CC;
    background-color: #222;
    cursor: pointer;
}

#title-result h2{
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0;
}

#title-result p{
    padding: 5px 0;
    color: #C7C9CC;
    font-weight: 400;
}


#result{
    display: flex;
    gap: 50px;
    color: #C58DE7;
    font-size: 2rem;
    margin: 40px auto;
    border-radius: 5px;
}




/* Media Queries */

@media (max-width: 970px) {

    main {
        width: 100%;
        height: 100%;
    }

    section#container{
        flex-direction: column;
    }

    section#content,
    section#content-form{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    }

    section#content header{
        order: 0;
    }

    section#content-form{
        order: 1;
    }

    div#questions-container{
        order: 2;
    }

}